{% extends 'mystore/base.html' %}

{% block content %}
    <h1>Добро пожаловать на мой первый Django-сайт!</h1>

    <h2>О сайте</h2>
    <p>Этот сайт разработан с использованием Django, мощного фреймворка для создания веб-приложений на языке Python. Здесь я могу создавать и отображать различные страницы и данные в удобном формате.</p>

    <h2>Обо мне</h2>
    <p>Привет, меня зовут Владимир Бехштедт. Я являюсь начинающим веб-разработчиком и увлекаюсь созданием интерактивных и красивых веб-сайтов. Мои навыки включают HTML, CSS, JavaScript, а также Python и Django.</p>

{% endblock %}
